# Gemini API Key
GEMINI_API_KEY=AIzaSyA35e8FnZfrxjTP7_RBZQvAm7sjGwb6TWI

# Supabase Configuration
VITE_SUPABASE_URL=https://veezfeyqvdliekuswhnm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlZXpmZXlxdmRsaWVrdXN3aG5tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4ODQ2OTMsImV4cCI6MjA3MDQ2MDY5M30.7wN_WyKRTZ_19Z5WWwfHDGVGxxdXuwIudA8eLd6znWI

# For local development with Supabase CLI
# VITE_SUPABASE_URL=http://127.0.0.1:54321
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0